架空案件/07_採用スクリーニング/採用スクリーニング_v1.yml
app:
  description: '応募者のスキル・経験を職務要件に照合し、適合度スコアで評価。結果はGAS経由でスプレッドシートに自動記録。'
  icon: "👤"
  icon_background: '#E8EAF6'
  mode: advanced-chat
  name: "採用スクリーニングアシスタント"
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: "Google Apps Script WebアプリURL（スプレッドシート記録用）"
    id: env-gas-url
    name: GAS_WEBAPP_URL
    selector:
    - env
    - GAS_WEBAPP_URL
    value: ''
    value_type: secret
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: "こんにちは！採用スクリーニングアシスタントです。👩‍💼\n\n右側の入力パネルから「募集職種」「必須スキル」「候補者情報」を入力して話しかけてください。AIが自動で適性を評価し、スプレッドシートへの記録まで行います。"
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1740700000001-source-llm-target
      source: '1740700000001'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llm-source-1740700000002-target
      source: llm
      sourceHandle: source
      target: '1740700000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1740700000002-source-1740700000003-target
      source: '1740700000002'
      sourceHandle: source
      target: '1740700000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1740700000003-true-1740700000004-target
      source: '1740700000003'
      sourceHandle: 'true'
      target: '1740700000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1740700000003-false-1740700000005-target
      source: '1740700000003'
      sourceHandle: 'false'
      target: '1740700000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1740700000004-source-1740700000006-target
      source: '1740700000004'
      sourceHandle: source
      target: '1740700000006'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1740700000005-source-answer-target
      source: '1740700000005'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: "候補者情報入力"
        type: start
        variables:
        - label: "募集職種"
          max_length: 100
          required: true
          type: text-input
          variable: position
        - label: "必須スキル・要件（箇条書き）"
          max_length: 1000
          required: true
          type: paragraph
          variable: requirements
        - label: "候補者の経歴・スキル"
          max_length: 3000
          required: true
          type: paragraph
          variable: candidate_info
      height: 220
      id: '1740700000001'
      position:
        x: 80
        y: 200
      positionAbsolute:
        x: 80
        y: 200
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: prompt-screening-system
          role: system
          text: "あなたは採用スクリーニングの専門家です。\n\n以下の情報を分析し、JSON形式のみを出力してください。\n\n## 募集職種\n{{#1740700000001.position#}}\n\n## 必須スキル・要件\n{{#1740700000001.requirements#}}\n\n## 候補者情報\n{{#1740700000001.candidate_info#}}\n\n以下のJSON形式で評価してください：\n{\n  \"skill_match_score\": 0-40,\n  \"experience_score\": 0-20,\n  \"industry_score\": 0-20,\n  \"bonus_score\": 0-20,\n  \"skill_details\": \"スキル適合の詳細\",\n  \"experience_details\": \"経験の詳細\",\n  \"strengths\": [\"強み1\", \"強み2\"],\n  \"concerns\": [\"懸念点1\"],\n  \"overall_comment\": \"総合評価コメント\"\n}"
        selected: false
        title: "候補者評価"
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(llm_output: str, position: str) -> dict:\n    try:\n        data = json.loads(llm_output.strip())\n    except:\n        return {\n            \"total_score\": 0,\n            \"recommendation\": \"ERROR\",\n            \"display_result\": \"評価の解析に失敗しました。候補者情報を再入力してください。\",\n            \"gas_payload\": \"{}\"\n        }\n    \n    skill = int(data.get(\"skill_match_score\", 0))\n    exp = int(data.get(\"experience_score\", 0))\n    industry = int(data.get(\"industry_score\", 0))\n    bonus = int(data.get(\"bonus_score\", 0))\n    total = min(skill + exp + industry + bonus, 100)\n    \n    if total >= 80:\n        rec = \"RECOMMENDED\"\n        rec_label = \"\\u2705 面接推奨\"\n    elif total >= 50:\n        rec = \"CONSIDER\"\n        rec_label = \"\\U0001f7e1 要検討\"\n    else:\n        rec = \"NOT_FIT\"\n        rec_label = \"\\u274c 不適合\"\n    \n    strengths = \"\\n\".join([f\"- {s}\" for s in data.get(\"strengths\", [])]) or \"特になし\"\n    concerns = \"\\n\".join([f\"- {c}\" for c in data.get(\"concerns\", [])]) or \"特になし\"\n    \n    display = f\"## \\U0001f464 採用スクリーニング結果\\n\\n\"\n    display += f\"| 項目 | スコア |\\n|------|--------|\\n\"\n    display += f\"| 必須スキル適合度 | {skill}/40 |\\n\"\n    display += f\"| 経験年数 | {exp}/20 |\\n\"\n    display += f\"| 関連業界経験 | {industry}/20 |\\n\"\n    display += f\"| その他加点 | {bonus}/20 |\\n\"\n    display += f\"| **合計** | **{total}/100** |\\n\\n\"\n    display += f\"### 判定: {rec_label}\\n\\n\"\n    display += f\"### 強み\\n{strengths}\\n\\n\"\n    display += f\"### 懸念点\\n{concerns}\\n\\n\"\n    display += f\"### 総合評価\\n{data.get('overall_comment', '')}\\n\\n\"\n    display += f\"---\\n\\U0001f4ca スプレッドシートに結果を記録しました。\"\n    \n    gas_data = {\n        \"position\": position,\n        \"total_score\": total,\n        \"recommendation\": rec,\n        \"skill_score\": skill,\n        \"experience_score\": exp,\n        \"industry_score\": industry,\n        \"bonus_score\": bonus,\n        \"comment\": data.get(\"overall_comment\", \"\")\n    }\n    \n    return {\n        \"total_score\": total,\n        \"recommendation\": rec,\n        \"display_result\": display,\n        \"gas_payload\": json.dumps(gas_data, ensure_ascii=False)\n    }\n"
        code_language: python3
        outputs:
          display_result:
            children: null
            type: string
          gas_payload:
            children: null
            type: string
          recommendation:
            children: null
            type: string
          total_score:
            children: null
            type: number
        selected: false
        title: "スコアリング"
        type: code
        variables:
        - value_selector:
          - llm
          - text
          variable: llm_output
        - value_selector:
          - '1740700000001'
          - position
          variable: position
      height: 200
      id: '1740700000002'
      position:
        x: 680
        y: 230
      positionAbsolute:
        x: 680
        y: 230
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: cond-recommended
            value: 'RECOMMENDED'
            varType: string
            variable_selector:
            - '1740700000002'
            - recommendation
          id: 'true'
          logical_operator: and
        selected: false
        title: "推奨判定"
        type: if-else
      height: 179
      id: '1740700000003'
      position:
        x: 1000
        y: 230
      positionAbsolute:
        x: 1000
        y: 230
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{{#1740700000002.gas_payload#}}'
          type: json
        headers: 'Content-Type: application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 200
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 15
          max_read_timeout: 15
          max_write_timeout: 15
        title: "GAS記録（推奨）"
        type: http-request
        url: '{{#env.GAS_WEBAPP_URL#}}'
        variables: []
      height: 154
      id: '1740700000004'
      position:
        x: 1320
        y: 150
      positionAbsolute:
        x: 1320
        y: 150
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{{#1740700000002.gas_payload#}}'
          type: json
        headers: 'Content-Type: application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 200
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 15
          max_read_timeout: 15
          max_write_timeout: 15
        title: "GAS記録（その他）"
        type: http-request
        url: '{{#env.GAS_WEBAPP_URL#}}'
        variables: []
      height: 154
      id: '1740700000005'
      position:
        x: 1320
        y: 380
      positionAbsolute:
        x: 1320
        y: 380
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: "{{#1740700000002.display_result#}}\n\n✅ **面接推奨候補**としてスプレッドシートに記録しました。"
        selected: false
        title: "推奨回答"
        type: answer
        variables: []
      height: 104
      id: '1740700000006'
      position:
        x: 1640
        y: 150
      positionAbsolute:
        x: 1640
        y: 150
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1740700000002.display_result#}}'
        selected: false
        title: "その他回答"
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 1640
        y: 380
      positionAbsolute:
        x: 1640
        y: 380
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -50
      y: -50
      zoom: 0.6
  rag_pipeline_variables: []
